<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Usecart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/cartIcon.png" rel="icon" type="image/x-icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <style>

        #rowDiv{
            width: 100%;
            height: 100%;
            /* border: 2px solid red; */
        }

        #productList{
            width: 100%;
            min-height: 60vh;
            /* border: 2px solid green; */
            display: flex;
            flex-direction: row;
            flex-wrap: wrap; 
            justify-content: space-between;
            margin-top: 2vh;
            @media (max-width:700px){
                height: auto;
                flex-direction: column;
                flex-wrap: nowrap;
            }
        }

        .product-img{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

    <%- include('../partials/user-header') %>
    
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <%if(userPresent){%>
                        <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <%}else{%>
                        <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <%}%>
                    <a class="breadcrumb-item text-dark" href="/category/<%=category._id%>"><%=category.name%></a>
                    <span class="breadcrumb-item active">Product List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 mb-30">
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
                <div class="bg-light p-4 mb-30">
                    <form id="priceForm" data-category="<%=category._id%>">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input priceInputs" id="price-all" name="price-all">
                            <label class="custom-control-label" for="price-all">All Price</label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input priceInputs" id="price-1" name="price-1">
                            <label class="custom-control-label" for="price-1">₹0 - ₹1000</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input priceInputs" id="price-2" name="price-2">
                            <label class="custom-control-label" for="price-2">₹1000 - ₹2000</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input priceInputs" id="price-3" name="price-3">
                            <label class="custom-control-label" for="price-3">₹2000 - ₹3000</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input priceInputs" id="price-4"  name="price-4">
                            <label class="custom-control-label" for="price-4">₹3000 - ₹4000</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input priceInputs" id="price-5"  name="price-5">
                            <label class="custom-control-label" for="price-5">₹4000 & above</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2" style="align-self: center;" id="priceFilter">Filter</button>
                    </form>
                </div>
                <!-- Price End -->
                

            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 h-auto mb-30" style="display: flex;" id="prodContainer">
                <div class="pb-1" id="rowDiv">
                    <div class="col-12 pb-1" style="display: flex; justify-content: end;">

                        <!-- <div id="" class="d-flex align-items-center justify-content-between mb-4"> -->
                            
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                        <a class="dropdown-item" id="sortLatest">Latest</a>
                                        <a class="dropdown-item" id="sortLoHi">Price: Low to High</a>
                                        <a class="dropdown-item" id="sortHiLo">Price: High to Low</a>
                                    </div>
                                </div>
                                
                            </div>
                        <!-- </div> -->

                    </div>

                    <div class="col-12 pb-1" >
                        <div class="col-lg pb-1"  id="productList" data-fullproducts="<%=JSON.stringify(Products)%>">
                        <%if(Products.length){%>
                            <%Products.slice(0,8).forEach((product,i)=>{%>
                                            <div class="product-item bg-light mb-4">
                                                <div class="product-img position-relative overflow-hidden" style="height: 15rem;">
                                                    <img style="width: auto;" src="/images/<%=product.image[0].filename%>" onerror="this.onerror=null;this.src='/images/noImg.png';" alt="">
                                                    <div class="product-action">
                                                        <a class="btn btn-outline-dark btn-square" href="/detail/<%=product._id%>"><i class="fa fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <div class="text-center py-4">
                                                    <a class="h6 text-decoration-none text-truncate" href=""><%=product.name%></a>
                                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                                        <h5>₹<%=Math.floor(product.price-product.price*product.offerDiscount/100)%></h5><h6 class="text-muted ml-2"><del>₹<%=product.price%></del></h6>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                            <%})%>

                        <%}else{%>
                            <div class="product-item bg-light ">
                                <h2 style="color: #777;">No Products Available</h2>
                            </div>    
                        <%}%>

                        </div>
                                        
                        </div>
           
                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center" style="cursor: pointer;">
                            <!-- <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li> -->
                            <li class="page-item active" id="list1"><a class="page-link" data-pgnmbr="1">1</a></li>
                            <li class="page-item" id="list2"><a class="page-link" data-pgnmbr="2">2</a></li>
                            <li class="page-item" id="list3"><a class="page-link" data-pgnmbr="3">3</a></li>
                            <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                          </ul>
                        </nav>
                    </div>

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->


    <!-- Footer Start -->
    <%- include('../partials/footer.ejs') %>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script>

        const productList = document.getElementById('productList');
        let fullproducts = JSON.parse(productList.dataset.fullproducts);
        let products=fullproducts.slice(0,8);

        const pageLinks = document.getElementsByClassName('page-link');
        const plArray = [...pageLinks]
        console.log("pageLinks:")
        console.log(pageLinks)
        plArray.forEach((pl,i)=>{
            pl.addEventListener('click',(e)=>{
                const pn = pl.dataset.pgnmbr;
                const list1 = document.getElementById('list1')
                const list2 = document.getElementById('list2')
                const list3 = document.getElementById('list3')
                console.log(pn)
                if(pn === '1'){
                    products = fullproducts.slice(0,8)
                    if(!list1.classList.contains('active')){
                        list1.classList.add('active')
                    }
                    if(list2.classList.contains('active')){
                        list2.classList.remove('active')
                    }
                    if(list3.classList.contains('active')){
                        list3.classList.remove('active')
                    }
                }
                else if(pn === '2'){
                    products = fullproducts.slice(8,16)
                    if(!list2.classList.contains('active')){
                        list2.classList.add('active')
                    }
                    if(list1.classList.contains('active')){
                        list1.classList.remove('active')
                    }
                    if(list3.classList.contains('active')){
                        list3.classList.remove('active')
                    }
                }
                else if(pn === '3'){
                    products = fullproducts.slice(16,24)
                    if(!list3.classList.contains('active')){
                        list3.classList.add('active')
                    }
                    if(list1.classList.contains('active')){
                        list1.classList.remove('active')
                    }
                    if(list2.classList.contains('active')){
                        list2.classList.remove('active')
                    }
                }

                
                let updatedHTML = '';
                if(products.length > 0){

                    products.forEach(product => {
                    updatedHTML += `
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden" style="height: 15rem;">
                                        <img style="width: 15vw;" src="/images/${product.image[0].filename}" onerror="this.onerror=null;this.src='/images/noImg.png';" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href="/detail/${product._id}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href="">${product.name}</a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>₹${Math.floor(product.price-product.price*product.offerDiscount/100)}</h5><h6 class="text-muted ml-2"><del>₹${product.price}</del></h6>
                                        </div>
                                        
                                    </div>
                                </div>
                        `;
                    });
                }else{
                    updatedHTML += ''
                }

                productList.innerHTML = updatedHTML;
            })
        })

        let filteredProducts;
        let sortableProducts = products;
        //Filter by price
        const priceFilter = document.getElementById('priceFilter');
        
        priceFilter.addEventListener('click',(e)=>{
            e.preventDefault();
            let checkedInputs = [];

            const priceInputs = document.querySelectorAll('.priceInputs');
            priceInputs.forEach(input=>{
                if(input.checked){
                    checkedInputs.push(input.name)
                }
            })
            console.log(checkedInputs);
            if(checkedInputs.length === 0){
                return;
            }
            console.log('price filtering')
             
            filteredProducts = products.filter((product) => {
                    if (checkedInputs.includes('price-all')) {
                    return true;
                    }
                    if (checkedInputs.includes('price-1')) {
                        if(product.price >= 0 && product.price <= 1000){
                            return true;
                        };
                    }
                    if (checkedInputs.includes('price-2')) {
                        if(product.price >= 1000 && product.price <= 2000){
                            return true;
                        };
                    }
                    if (checkedInputs.includes('price-3')) {
                        if(product.price >= 2000 && product.price <= 3000){
                            return true;
                        };
                    }
                    if (checkedInputs.includes('price-4')) {
                        if(product.price >= 3000 && product.price <= 4000){
                            return true;
                        };
                    }
                    if (checkedInputs.includes('price-5')) {
                        if(product.price >= 4000 && product.price <= 100000){
                            return true;
                        };
                    }
            }); 
            sortableProducts = filteredProducts;
            console.log("filteredProducts:")   
            console.log(filteredProducts)   
            console.log(products)   
                let updatedHTML = '';
                if(filteredProducts.length > 0){

                    filteredProducts.forEach(product => {
                    updatedHTML += `
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden" style="height: 15rem;">
                                        <img style="width: 15vw;" src="/images/${product.image[0].filename}" onerror="this.onerror=null;this.src='/images/noImg.png';" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href="/detail/${product._id}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href="">${product.name}</a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>₹${Math.floor(product.price-product.price*product.offerDiscount/100)}</h5><h6 class="text-muted ml-2"><del>₹${product.price}</del></h6>
                                        </div>
                                        
                                    </div>
                                </div>
                        `;
                    });
                }else{
                    updatedHTML += '<h2 style="text-align:center">No Matching Results</h2>'
                }

                productList.innerHTML = updatedHTML;
            })

        //sort Latest
        const sortLatestElement = document.getElementById('sortLatest');

        sortLatestElement.addEventListener('click', (event) => {
            event.preventDefault();
            

            sortableProducts.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));

            let updatedHTML = '';
            if (sortableProducts.length > 0) {
                sortableProducts.forEach((product) => {
                    updatedHTML += `
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden" style="height: 15rem;">
                                        <img style="width: 15vw;" src="/images/${product.image[0].filename}" onerror="this.onerror=null;this.src='/images/noImg.png';" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href="/detail/${product._id}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href="">${product.name}</a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>₹${Math.floor(product.price-product.price*product.offerDiscount/100)}</h5><h6 class="text-muted ml-2"><del>₹${product.price}</del></h6>
                                        </div>
                                        
                                    </div>
                                </div>
                        `;
                    });
            } else {
                updatedHTML += '<h2 style="text-align:center">No Matching Results</h2>';
            }

            productList.innerHTML = updatedHTML;
            });

        //sort Low to High
        const sortLowToHigh = document.getElementById('sortLoHi');

        sortLowToHigh.addEventListener('click', (event) => {
            event.preventDefault();
        

            sortableProducts.sort((a, b) => a.price - b.price);

            let updatedHTML = '';
            if (sortableProducts.length > 0) {
                sortableProducts.forEach((product) => {
                    updatedHTML += `
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden" style="height: 15rem;">
                                        <img style="width: 15vw;" src="/images/${product.image[0].filename}" onerror="this.onerror=null;this.src='/images/noImg.png';" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href="/detail/${product._id}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href="">${product.name}</a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>₹${Math.floor(product.price-product.price*product.offerDiscount/100)}</h5><h6 class="text-muted ml-2"><del>₹${product.price}</del></h6>
                                        </div>
                                        
                                    </div>
                                </div>
                        `;
                    });
            } else {
                updatedHTML += '<h2 style="text-align:center">No Matching Results</h2>';
            }

            productList.innerHTML = updatedHTML;
            });

        // sort High to Low    
        const sortHighToLow = document.getElementById('sortHiLo');

        sortHighToLow.addEventListener('click', (event) => {
            event.preventDefault();
       

            sortableProducts.sort((a, b) => b.price - a.price);

            let updatedHTML = '';
            if (sortableProducts.length > 0) {
                sortableProducts.forEach((product) => {
                    updatedHTML += `
                                <div class="product-item bg-light mb-4">
                                    <div class="product-img position-relative overflow-hidden" style="height: 15rem;">
                                        <img style="width: 15vw;" src="/images/${product.image[0].filename}" onerror="this.onerror=null;this.src='/images/noImg.png';" alt="">
                                        <div class="product-action">
                                            <a class="btn btn-outline-dark btn-square" href="/detail/${product._id}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <a class="h6 text-decoration-none text-truncate" href="">${product.name}</a>
                                        <div class="d-flex align-items-center justify-content-center mt-2">
                                            <h5>₹${Math.floor(product.price-product.price*product.offerDiscount/100)}</h5><h6 class="text-muted ml-2"><del>₹${product.price}</del></h6>
                                        </div>
                                        
                                    </div>
                                </div>
                        `;
                    });
            } else {
                updatedHTML += '<h2 style="text-align:center">No Matching Results</h2>';
            }

            productList.innerHTML = updatedHTML;
            });

    </script>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>